@font-face {
    font-family: abz-italic;
    src: url(../fonts/ABeeZee-Italic.ttf);
}

@font-face {
    font-family: abz-regular;
    src: url(../fonts/ABeeZee-Regular.ttf);
}

body {
    font-family: abz-italic;
}