.mail-compose {
    color: black;
}

.compose-mail {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 20px;
}

.compose-body {
    padding-bottom: 40%;
    border: none;
}

.send-btn {
    width: 100px;
}

.compose-btn {
    border-radius: 20px;
    width: 150px;
    padding: 10px;
}

.plus {
    font-size: xx-large;
    padding-right: 10px;
    color: lightskyblue;
    font-weight: bolder;
}