.input-for-new-note{
    gap: 1rem;
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    box-shadow: rgb(111 105 105 / 34%) -1px 0px 5px 0px;
    
}

.new-note-input-field{
    width: 100%;
    background-color: #f1f3f4;
    height: 1.7em;
    border-radius: 8px;
    border: 1px solid #1e1e1e00;
    box-shadow: rgb(111 105 105 / 34%) -1px 0px 5px 0px;
    padding-inline-start: 0.8em;
    font-family: abz-italic;
    color: black;
    font-size: 1rem;
}

.new-note-input-field:focus-visible{
    outline: none;
}

.new-note-btn{
    width: 2.5em;
    text-align: center;
}

.inputs-btns-container{
    gap: 1em;
}
