.notes-container{
    gap: 10px;
    grid-template-columns: repeat( auto-fill, minmax(238px, 1fr) ) ;
    gap: 10px;
    grid-auto-flow: dense;
}


.note-container{
    width: 100%;
    background-color: #f1f3f4;
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgb(111 105 105 / 34%) -1px 0px 5px 0px;
    height: 100%;
    justify-content: space-between;
}