.keep-app {
    color: black;
}

.keep-app-btn{
    border: none;
    outline: none;
    border-radius: 2px;
    font-family: 'abz-italic';
    font-size: 18px;
    box-shadow: rgb(111 105 105 / 34%) -1px 0px 5px 0px;
}

.note-add-container{
    margin-bottom: 1em;
}

.note-top-margin{
    margin-top: 1.25rem;
}

.notes-list-title{
    font-family: abz-regular;
    color: rgba(87, 87, 87, 0.76);
}

.pinned-notes-list-container{
    margin-bottom: 50px;
}

.notes-list-title{
   margin-bottom: 10px;
    
}