.home-page {
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: relative;
    font-family: abz-regular;
}

.home-page::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/img/desk-3076954_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-page-container {
    text-align: center;
    font-size: 40px;
    color: rgb(56, 54, 54);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), -2px 3px 7px rgba(166, 169, 165, 0.41);
}

.home-page-txt-container {
    position: relative;
    margin: 20px auto;
}

.home-page-container h2 {
    margin: 22px 0;
}

.home-page-container h3 {
    margin: 31px 0;
}